:root {
  --csk-800000100: rgba(255, 204, 204, 1);
  --csk-800000200: rgba(255, 153, 153, 1);
  --csk-800000300: rgba(255, 102, 102, 1);
  --csk-800000400: rgba(255, 51, 51, 1);
  --csk-80000050: rgba(255, 229, 229, 1);
  --csk-800000500: rgba(128, 0, 0, 1);
  --csk-800000600: rgba(204, 0, 0, 1);
  --csk-800000700: rgba(153, 0, 0, 1);
  --csk-800000800: rgba(102, 0, 0, 1);
  --csk-800000900: rgba(51, 0, 0, 1);
  --csk-800000950: rgba(26, 0, 0, 1);
  --csk-8c1008100: rgba(252, 210, 207, 1);
  --csk-8c1008200: rgba(249, 165, 159, 1);
  --csk-8c1008300: rgba(247, 119, 110, 1);
  --csk-8c1008400: rgba(244, 74, 62, 1);
  --csk-8c100850: rgba(254, 232, 231, 1);
  --csk-8c1008500: rgba(140, 17, 8, 1);
  --csk-8c1008600: rgba(193, 23, 11, 1);
  --csk-8c1008700: rgba(145, 17, 8, 1);
  --csk-8c1008800: rgba(96, 12, 6, 1);
  --csk-8c1008900: rgba(48, 6, 3, 1);
  --csk-8c1008950: rgba(24, 3, 1, 1);
}
