.login-page {
  background-color: #c2c2c2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.login-page-image {
  width: 49%;
  height: 100%;
  object-fit: cover;
}

.login-page-right {
  width: 51%;
  height: 100%;
  position: relative;
}

.login-error {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fee;
  border: 1px solid #fcc;
  color: #c33;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  z-index: 20;
}

.login-panel {
  position: absolute;
  inset: 0;
  background-color: white;
  border-radius: 55px 0 0 55px;
}

.login-logo {
  position: absolute;
  top: 5.5%;
  left: 5.5%;
  width: 61%;
  height: 5.2%;
  object-fit: cover;
}

.login-title {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', Helvetica;
  font-weight: 600;
  color: #800000;
  font-size: 4.3vw;
  letter-spacing: -4.19px;
  line-height: normal;
  white-space: nowrap;
}

.login-subtitle {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  width: 63%;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 21.8px;
  letter-spacing: -1.31px;
  line-height: normal;
  margin-bottom: 1rem;
}

.login-field {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 67%;
  height: 7.5%;
}

.login-field.username {
  bottom: 55%;
}

.login-field.password {
  bottom: 45.5%;
}

.login-field-border {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 78%;
  border-radius: 16.38px;
  border: 3.28px solid;
  transition: border-color 0.3s;
}

.login-field-border.default {
  border-color: #d9d9d9;
}

.login-field-border.focused {
  border-color: #800000;
}

.login-field-label {
  position: absolute;
  top: 0;
  left: 4%;
  height: 43%;
  background-color: white;
  z-index: 10;
}

.login-field-label.username-label {
  width: 22%;
}

.login-field-label.password-label {
  width: 21%;
}

.login-field-label-text {
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  font-size: 21.8px;
  letter-spacing: -1.31px;
  line-height: normal;
  transition: color 0.3s;
}

.login-field-label-text.default {
  color: #c2c2c2;
}

.login-field-label-text.focused {
  color: #800000;
}

.login-field-icon {
  position: absolute;
  top: 63%;
  pointer-events: none;
}

.login-field-icon.username-icon {
  width: 3.57%;
  height: 18%;
  left: 3.57%;
}

.login-field-icon.password-icon {
  width: 3.01%;
  height: 18%;
  top: 65%;
  left: 4%;
}

.login-field-input {
  position: absolute;
  top: 1rem;
  left: 9.4%;
  height: 78%;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 21.8px;
  letter-spacing: -1.31px;
  line-height: normal;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.login-field-input.username-input {
  width: 86%;
}

.login-field-input.password-input {
  width: 79%;
}

.password-toggle {
  position: absolute;
  width: 3.78%;
  height: 14.5%;
  top: 67%;
  left: 92.17%;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.password-toggle img {
  width: 100%;
  height: 100%;
}

.login-button-wrapper {
  position: absolute;
  top: 573px;
  left: 155px;
  width: 532px;
  height: 60px;
}

.login-button {
  width: 530px;
  height: 60px;
  background-color: #800000;
  border-radius: 16.38px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 0;
}

.login-button:hover {
  background-color: #a00000;
}

.login-button-text {
  font-family: 'Poppins', Helvetica;
  font-weight: 500;
  color: white;
  font-size: 20px;
  letter-spacing: -1.2px;
  line-height: normal;
}

.reset-password-button {
  position: absolute;
  top: 688px;
  left: 178px;
  width: 485px;
  height: 33px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.reset-password-line {
  position: absolute;
  top: 15px;
  left: 0;
  width: 483px;
  height: 2px;
}

.reset-password-bg {
  position: absolute;
  left: 8rem;
  width: 227px;
  height: 33px;
  background-color: white;
  top: 0;
}

.reset-password-text {
  position: absolute;
  top: 3px;
  left: 164.5px;
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  color: #800000;
  font-size: 14.5px;
  letter-spacing: 0;
  line-height: normal;
}
